@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body,
html {
    height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}
.bg-gradient-danger {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ffbf96),
        to(#fe7096)
    ) !important;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}
.bg-gradient-info {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#90caf9),
        color-stop(99%, #047edf)
    ) !important;
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}
.bg-gradient-success {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#84d9d2),
        to(#07cdae)
    ) !important;
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}
.bg-gradient-secondary {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#e7ebf0),
        to(#868e96)
    ) !important;
    background: linear-gradient(to right, #e7ebf0, #868e96) !important;
}
.form-control:focus,
.btn:focus {
    box-shadow: none;
}
.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8691aa;
    opacity: 1;
}
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #8691aa;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #8691aa;
    opacity: 1;
}
.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #8691aa;
    opacity: 1;
}
.login {
    display: flex;
    height: 100%;
}
.login__left {
    display: flex;
    height: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}
.login__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.login__right {
    display: flex;
    height: 100%;
    max-width: 50%;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
}
.login__block {
    display: block;
    max-width: 400px;
    width: 100%;
}
.logo__block {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.logo__block img {
    max-width: 100px;
}
.side__bar {
    position: fixed;
    left: 0;
    height: 0;
    width: 240px;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.admin {
    margin-left: 240px;
    /*padding-left: 240px;*/
    background: #f1f5fb;
    min-height: 100%;
    position: relative;
    padding-bottom: 38px;
}
.admin__logo {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.admin__logo .logo svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.admin__info {
    text-align:center;
}
.admin__info .sidebar-img {
    margin-bottom: 10px;
}
.admin__info .sidebar-img img {
    max-width: 180px;
}
.admin__info h1 {
    font-size: 20px;
    margin-bottom: 5px;
}
.admin__logo h4 {
    font-size: 14px;
    margin: 0;
}
.main__nav {
    flex: 1;
    overflow: auto;
    padding: 10px 7px;
}
.main__nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main__nav ul li {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-radius: 6px;
    transition: all linear 0.5s;
    margin-bottom: 10px;
}
.main__nav ul li a {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: all linear 0.5s;
    border-radius: 6px;
}
.main__nav ul li a i {
    font-size: 18px;
}
.main__nav ul li a i.fi {
    line-height: 0;
}
.main__nav ul li a span {
    padding: 0 20px;
}
.main__nav ul li:hover a {
    color: #fff;
}
.main__nav > ul > li > a.parent,
.main__nav > ul > li > ul > li > a.parent {
    background: url(../images/chevron-right.svg) center right 20px no-repeat;
    background-size: 16px;
}
.main__nav > ul > li.active > a.parent,
.main__nav > ul > li:hover > a.parent,
.main__nav > ul > li > ul > li.active > a.parent {
    background: url(../images/chevron-down.svg) center right 20px no-repeat;
    background-size: 16px;
}
.main__nav ul li.active a {
    color: #fff;
}
.main__nav > ul > li:hover {
    color: #fff;
    background: #002D5F;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    /*-webkit-box-shadow: inset 240px 0px 0px 0px rgba(193,9,9,1);
	-moz-box-shadow: inset 240px 0px 0px 0px rgba(193,9,9,1);
	box-shadow: inset 240px 0px 0px 0px rgba(193,9,9,1);*/
}
.main__nav > ul > li.active {
    color: #fff;
    background: #002D5F;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.main__nav ul ul {
    display: none;
}
.main__nav > ul > li.active > ul {
    display: block;
}
.main__nav > ul > li > ul > li.active > ul {
    display: block;
}
.main__nav ul ul li {
    margin: 0;
}
.main__nav ul ul li:hover {
    background: rgba(255, 255, 255, 0.3);
}
.main__nav ul ul li.active {
    background: rgba(255, 255, 255, 0.3);
}
.nav__footer {
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: auto;
    border-top: 1px solid #eee;
}
.nav__footer a {
    color: #8691aa;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: all linear 0.5s;
    border-radius: 6px;
}
.nav__footer a i.fi {
    line-height: 0;
    font-size: 18px;
}
.nav__footer a span {
    padding: 0 20px;
}
header {
    padding: 10px 20px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}
header .notify__bell {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    color: #000;
    text-decoration: none;
}
header .notify__bell i.fi {
    line-height: 0;
}
header .notify__bell i.fi:before {
    vertical-align: text-bottom;
}
header .header__search {
    padding: 6px 0;
    border: none;
}
section {
    padding: 10px 20px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 12px;
}
.admin h1 {
    font-size: 30px;
    margin: 0;
    margin-right: 10px;
    margin-top: 10px;
}
.admin__title {
    display: flex;
    align-items: flex-end;
}
.table {
    margin-bottom: 20px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-radius: 10px;
}
.table tbody {
    border: none;
}
.table th {
    font-size: 14px;
    font-weight: 500;
    border: none;
    vertical-align: bottom;
    padding: 12px 20px;
}
.table td {
    font-size: 14px;
    font-weight: 400;
    color: #8691aa;
    border: none;
    padding: 12px 20px;
}
.table > :not(:first-child) {
    border: none;
}
.table th.check-column,
.table td.check-column {
    width: 40px;
}
.table thead tr th {
    background: #fff;
}
.table tbody tr td {
    background: #fff;
}
.table tbody tr:nth-child(odd) td {
    background: #f9fafe;
}
.table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
.table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.table td i.fi,
.table th i.fi {
    line-height: 0;
}
.table .form-check input {
    margin: 0;
}
.table th.check-column .form-check,
.table td.check-column .form-check {
    margin: 0;
    min-height: 14px;
    padding-left: 0;
}

.column-thumb img {
    max-width: 80px;
    max-height: 80px;
}
.row__action {
    font-size: 0;
    padding-top: 10px;
    visibility: hidden;
    pointer-events: none;
}
.row__action a {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #999;
    line-height: 14px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #0073aa;
}
.row__action a:last-child {
    margin-right: 0;
    border: none;
    padding-right: 0;
}
.table tr:hover .row__action {
    visibility: visible;
    pointer-events: all;
}
.card {
    border: none;
    margin-bottom: 20px;
}
.card-header {
    background: #fff;
    border: none;
}
.filter {
    display: block;
    margin-bottom: 10px;
}
.filter p {
    margin: 0;
    font-size: 14px;
}
.search__filter {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
}
.search__filter ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}
.search__filter ul li {
    display: inline-block;
    vertical-align: top;
}
.search__filter ul li a {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #999;
    line-height: 14px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #0073aa;
}
.search__filter ul li:last-child a {
    margin-right: 0;
    border: none;
    padding-right: 0;
}
.search__filter ul li a .count {
    color: #999;
}
.search__filter ul li.active a {
    color: #000;
}
.form-control {
    font-size: 14px;
}
.btn-group-sm > .btn,
.btn-sm {
    padding: 6px 12px;
}
.bg-danger {
    color: #842029;
    background-color: #f8d7da !important;
}
.bg-success {
    color: #0f5132;
    background-color: #d1e7dd !important;
}
.bg-info {
    color: #055160;
    background-color: #cff4fc !important;
}
.bg-warning {
    color: #664d03;
    background-color: #fff3cd !important;
}
.badge {
    font-weight: 400;
    font-size: 14px;
    padding: 6px 12px;
}
.admin__content {
    background: #f7f7f7;
    margin: 0 -14px;
    display: flex;
    border-top: 1px solid #ddd;
}
.admin__content:last-child {
    border-bottom: 1px solid #ddd;
}
.admin__content aside {
    width: 240px;
    border-right: 1px solid #ddd;
    padding: 14px;
}
.admin__content content {
    padding: 14px;
    flex: 1 0 0%;
}
.product__thumb {
    margin-bottom: 14px;
    text-align: center;
}
.product__thumb img {
    display: inline-block;
    max-width: 100%;
    max-height: 150px;
    border-radius: 5px;
}
.home__card h4 {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.home__card h4 i.fi {
    margin-left: 10px;
    font-size: 40px;
}
.home__card h2 {
    margin: 0;
}
.home__card:before {
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/circle.svg) top right no-repeat;
    background-size: 100% auto;
    content: "";
}
.page__subtitle {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 10px;
}
.product-img-remove {
    position: absolute;
    top: -7px;
    right: -5px;
    border-radius: 50%;
}
.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Multiselect */

/*! 
 *  Multiple select dropdown with filter jQuery plugin.
 *  Copyright (C) 2022  Andrew Wagner  github.com/andreww1011
 *
 *  This library is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 2.1 of the License, or (at your option) any later version.
 * 
 *  This library is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 * 
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301
 *  USA
 */
:root {
    --fms-badge-text-color: white;
    --fms-badge-color: var(--primary);
}

.filter-multi-select.dropup,
.filter-multi-select.dropdown {
    position: relative;
}

.filter-multi-select .dropdown-toggle::after {
    all: unset;
}

.filter-multi-select .dropdown-toggle:empty::after {
    all: unset;
}

.filter-multi-select > .dropdown-toggle::before {
    display: inline-block;
    margin-right: 0.255em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.filter-multi-select > .dropdown-toggle:empty::before {
    margin-right: 0.255em;
}

.filter-multi-select > .viewbar {
    white-space: normal;
    font-size: 0.875rem;
    font-weight: 400;
    height: auto;
    cursor: pointer;
}

.filter-multi-select > .viewbar > .selected-items > .item {
    margin: 0.125rem 0.25rem 0.125rem 0;
    padding: 0px 0px 0px 0.5em;
    display: inline-flex;
    height: 1.875em;
    color: #000;
    background-color: #f0f0f0;
    border-radius: 1.1em;
    align-items: center;
    vertical-align: baseline;
}

.filter-multi-select > .viewbar > .selected-items > .item > button {
    background-color: transparent;
    color: #c10909;
    border: 0;
    font-weight: 900;
    cursor: pointer;
}

.filter-multi-select > .viewbar > .selected-items > .item > button:hover {
    filter: contrast(50%);
}

.filter-multi-select > .viewbar > .selected-items > .item.disabled {
    display: inline-flex;
    padding: 0px 0.5em 0px 0.5em;
    filter: grayscale(80%) brightness(150%);
}

.filter-multi-select > .viewbar > .selected-items > .item.disabled > button {
    display: none;
}

.filter-multi-select > .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1000;
    display: none;
    float: left;
    max-height: 50vh;
    min-width: 10rem;
    overflow-y: auto;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.filter-multi-select > .dropdown-menu.show {
    display: block;
}

.filter-multi-select > .dropdown-menu > .filter > input {
    font-size: 0.875rem;
}

.filter-multi-select > .dropdown-menu > .filter > button {
    position: absolute;
    border: 0;
    background-color: transparent;
    font-weight: 900;
    color: #ccc;
    right: 2rem;
    top: 1rem;
}

.filter-multi-select > .dropdown-menu > .filter > button:hover {
    color: #aaa;
}

.filter-multi-select .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.filter-multi-select .dropdown-item.disabled,
.filter-multi-select .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
}

.filter-multi-select .dropdown-item:hover,
.filter-multi-select .dropdown-item:focus {
    background-color: inherit;
}

.filter-multi-select .dropdown-item.active,
.filter-multi-select .dropdown-item:active {
    color: inherit;
}

.filter-multi-select .dropdown-item .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-multi-select .dropdown-item .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    display: inline-block;
}

.filter-multi-select .dropdown-item .custom-control-label::before {
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: absolute;
    top: 0.15625rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #ffffff;
    border: #adb5bd solid 1px;
}

.filter-multi-select .dropdown-item .custom-control-label::after {
    position: absolute;
    top: 0.15625rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.filter-multi-select
    .dropdown-item
    .custom-checkbox:checked
    ~ .custom-control-label::before,
.filter-multi-select
    .dropdown-item
    .custom-checkbox:indeterminate
    ~ .custom-control-label::before {
    border-color: #c10909;
    background-color: #c10909;
}

.filter-multi-select
    .dropdown-item
    .custom-checkbox:checked:disabled
    ~ .custom-control-label::before,
.filter-multi-select
    .dropdown-item
    .custom-checkbox:indeterminate:disabled
    ~ .custom-control-label::before {
    border-color: var(--fms-badge-color);
    background-color: var(--fms-badge-color);
    filter: grayscale(80%) brightness(150%);
}

.filter-multi-select
    .dropdown-item
    .custom-checkbox:checked
    ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter-multi-select
    .dropdown-item
    .custom-checkbox:indeterminate
    ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23FFFFFF' d='M0 2h4'/%3e%3c/svg%3e");
}

.placeholder {
    background-color: transparent !important;
}
.login-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
}
.login-form .login__right {
    max-width: 100%;
}
.login-form .logo__block img {
    max-width: 300px;
}
.login-form form input {
    width: 100%;
    font-weight: 500;
}
.login-form form label {
    font-weight: 500!important;
}
.login-form form button {
    background: #002D5F;
}
.darkBlue-btn {
    background: #002D5F;
    border-color: #002d5f;
}
.darkBlue-btn:hover {
    background: #fff;
    color: #002d5f;
    border-color: #002d5f;
}

.swiper-rel {
    position: relative;
}
.login-slider .login-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-slider .login-img {
    border-radius: 5px;
    overflow: hidden;
}
.dropdown-header button {
    font-size: 16px;
}
.dash-card {
    min-height: 160px;
}
.dash-card-body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
}
.dash-card-body h2 a {
    color: #002d5f;
    font-size: 40px;
    text-decoration: none;
}
.home__card h4 i {
    margin-left: 20px;
}
.search-filter-right {
    display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search-filter-right-el {
    margin: 0 0 0 10px;
}
.search-filter-right-el button,
.search-filter-right-el a {
    border: 1px solid #002d5f;
    color: #fff;
    background: #002d5f;
    display: flex;
    align-items:center;
    font-size: 16px;
    height: 40px;
}
.search-filter-right-el button iconify-icon, 
.search-filter-right-el a iconify-icon {
    margin-right: 5px;
    font-size: 20px;
    color: #fff;
}
.search-filter-right-el button:hover,
.search-filter-right-el a:hover{
    background: #fff;
    color: #002d5f;
    border-color: #002d5f;
}
.search-filter-right-el button:hover iconify-icon,
.search-filter-right-el a:hover iconify-icon {
    color: #002d5f;
}
.search-filter-right-el input {
    height: 41px;
    font-size: 16px;
}
.search-filter-right-el input:focus {
    border-color: #002d5f;
}
.search__filter p {
    font-size: 16px;
}
.admin-table tbody {
    vertical-align: middle;
}
.admin-table tbody td,
.admin-table thead th {
    font-size: 16px;
}
.admin-table tbody tr {
    border-bottom: 1px solid #eee;
}
.admin-table tbody a {
    color: #002d5f;
    font-weight: 600;
    text-decoration: none;
}
.search-card {
    border-bottom: 1px solid #eee;
}
.admin-table .badge {
    font-weight: 500;
}
.row__action form {
    display: flex;
    align-items:center;
}
.row__action button {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #999;
    line-height: 14px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border:none;
    background: none;
    color: red;
}
.row__action button:hover {
        color: red;
}
.inner-sec1 label {
    font-size: 16px;
    margin-bottom: 8px;
}
.inner-sec1 input {
    height: 50px;
}
.inner-sec1 input:focus,
.inner-sec1 textarea:focus{
    border-color: #002d5f;
}
.inner-sec1 button {
    background: #002d5f;
    border-color: #002d5f;
    font-size: 16px;
}
.inner-sec1 button:hover {
    background: none;
    border-color: #002d5f;
    color: #002d5f;
}
.inner-sec1 .card-header {
    font-size: 16px;
}
.detail-sec p {
    font-size: 16px;
}
.detail-sec h3 {
    color: #111;
}
.inner-sec1 .select2-selection--single {
    height: 50px!important;
}
.inner-sec1 .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
}
.inner-sec1 .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
}
.pro-sec .card {
    margin-bottom: 0;
}
.pro-sec .search-filter-right-el {
    display: flex;
    align-items:center;
}
.pro-sec .select2-container .select2-selection--single {
    height: 41px;
    border: 1px solid #ced4da!important;
}
.pro-sec .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    font-size: 16px;
}
.pro-sec .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}
.pro-sec .clear-filter {
    padding: 0;
    margin-left: 10px;
}
.pro-sec .clear-filter iconify-icon {
    font-size: 30px;
    margin-right: 0;
}
.pro-sec .select2-container {
    width: 100%!important;
}
.pro-detail-size-flex {
    display: flex;
    align-items:center;
}
.pro-detail-size-flex p {
    margin-left: 10px;
    font-size: 16px;
}
.font-default {
    font-size: 16px;
}
.product-detail-sec .card-header {
    font-size: 20px;
}
.product-detail-sec p {
    font-size: 16px;
}
.product-detail-sec label {
    font-size: 16px;
}
.product-detail-sec h5 {
    font-size: 18px;
}
.product-detail-sec del {
    display: inline-block;
    margin-right: 4px;
}
.pro-sec .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #99A2B7;
}
.pro-edit label {
    font-size: 16px;
    margin-bottom: 10px;
}
.pro-edit nav {
    font-size: 16px;
}



.pro-edit button {
    background: #002d5f;
  border-color: #002d5f;
  font-size: 16px;
}
.pro-edit button:hover {
    background: #fff;
    color: #002d5f;
    border-color: #002d5f;
}

.pro-edit .new-color {
    background: #002d5f;
  border-color: #002d5f;
  font-size: 16px;
}
.pro-edit .new-color:hover {
        background: #fff;
    color: #002d5f;
    border-color: #002d5f;
}

.pro-edit .card-header {
    font-size: 18px;
}
.store-sec label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    margin-right: 12px;
}
.store-sec .select2-container .select2-selection--single {
    height: 41px;
    border-radius: 3px;
    border-color: #ccc;
}
.store-sec .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 39px;
}
.store-sec .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

.store-sec .search-filter-right-el button, .store-sec .search-filter-right-el a {
    border: 1px solid #002d5f;
  color: #fff;
  background: #002d5f;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px;
}
.store-sec .search-filter-right-el button iconify-icon, .search-filter-right-el a iconify-icon {
    margin-right: 5px;
  font-size: 20px;
  color: #fff;
}
.search-filter-right-store {
    display: flex;
    align-items:center;
}
.search-filter-right-store .search-filter-right-el {
    display: flex;
    align-items:center;
}
.store-filter-btn {
    margin-right: 10px;
}
.store-filter-times {
    padding: 0 2px;

}
.store-filter-times:hover {
    background: #fff!important;
    border-color: #002d5f!important;
    color: #002d5f!important;
}
.store-filter-times iconify-icon {
    margin-right: 0!important;
        font-size: 30px!important;
} 
.search-filter-right-store button:hover,
.search-filter-right-store a:hover{
    background: #fff!important;
    border-color: #002d5f!important;
    color: #002d5f!important;
}

.search-filter-right-store button:hover iconify-icon,
.search-filter-right-store a:hover iconify-icon{
    color: #002d5f!important;
}
.page-item.active .page-link {
    background: #002d5f!important;
    border-color: #002d5f!important;
    color: #FFF!important;
}
.page-link, .page-link:hover, .page-link:focus {
    color: #002d5f!important;
}
.store-sec .notification-filter label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  width: 50%!important;
  text-align: center!important;
  margin-right: 10px!important;
}
.admin-table td a.btn {
    background: #002d5f!important;
    color: #fff!important;
}


   .timeline-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 640px;
      }
      .timeline-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        border: 1px dashed #ddd;
      }
      .timeline-wrapper ul {
        width: 100%;
      }
      .timeline-wrapper li {
        margin-bottom: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
      }
      .timeline-wrapper li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: #002d5f;
        border-radius: 50%;
      }
      .timeline-wrapper ul li .left {
        text-align: right;
        width: 100%;
        margin-left: -0px;
      }
      .timeline-wrapper ul li .right {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
        padding: 20px;
        border-radius: 6px;
        width: 100%;
        margin-left: 100px;
      }
      .timeline-wrapper ul li .right p {
        margin: 0;
      }









